<!DOCTYPE html> {% extends "base.html" %} {% block title %} Nosh | ABOUT US {% endblock %} {% block CSSlink %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='aboutUs.css') }}"> {% endblock %} {% block content %}


<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>Contact Us</h1>
            </div>
            <div class="add">
                <p>Bangalore Institute of Technology, <br>Krishna Rajendra Rd, Vishweshwarapura, <br> Bengaluru, Karnataka 560004</p>
            </div>
            <div class="dets">
                <span class="detsicons"><i class="fa fa-envelope"></i></span>
                <a class="linkstuff" href="mailto:nosh@gmail.com">nosh@gmail.com</a>
            </div>
            <div class="dets">
                <span class="phoneicons"><i class="fa fa-phone"></i></span>
                <a class="linkstuff" href="tel:+91 9945305749">+91 9945305749</a>
            </div>
            <div class="social">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
            </div>
        </div>
        <div class="image-section">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.260543961424!2d77.57184291378967!3d12.955172818746277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1592715c4e7f%3A0x7dfaf94e52204678!2sBangalore%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1644401660416!5m2!1sen!2sin"
                width="410" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h3>Sujay Prasad</h3>
                <p>Co-Founder<br><br>Sujay is an avid coder, blessed with the unique capability of learning anything that comes his way in a short timeframe. He is also known among his friends to be a fun-loving adventurous soul, who never settles for anything
                    second to the best. When it comes down to interests and hobbies, he is an anime binge watcher and a devoted throttle freak, obsessed with speed and perfection when it comes to maintaining his ride. Sujay has an interesting take on
                    food and you would almost certainly find him around on Food Street if you ever went there! Being an extrovert in nature, you can have a conversation with him on any topic, literally! Also, thanks to his extrovert nature it’s hard not
                    to be friends with him. As his friends say, he always looks out for them and is a go-to person for anything! That’s Sujay in a nutshell.
                </p>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/profile.php?id=100005786927582" target="_blank"><i  class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/in/sujay-prasad-6b5a261ba" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/throttle_freak" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="image-section">
            <p><br></p>
            <img src="{{ url_for('static',filename='images/Sujay.jpeg') }}">
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="content">
                <h3><br>Sahanya Hebbar</h3>
                <p>Co-Founder<br><br>“Hard work brings success” or “Work smart, not hard” are just not the quotes written for the one Ms. Sahanya Hebbar. Getting on to a midnight working spree for a week straight and not bothering about it for the next week
                    is the kind of job she has signed up for. She is a nugatory daughter and inutile sister goofing around the house like there is no tomorrow. She lives a busy life juggling between multiple jobs which includes, but is not limited to
                    sleeping, being sassy, roasting people and ghosting some. If perfection was an art, she is the Pablo Picasso of it, but with all the abilities to turn into Pablo Escobar. Carrying around the epitome of self confidence she will provide
                    you with an unlimited supply of meme worthy portraits. She brings all her experience from online lectures and labs down to nosh, pun intended, as living proof that anything is possible if you sign up and work towards achieving your
                    goals.
                </p>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/sahanya.hebbar/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/in/sahanya-hebbar-28380a213/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/sahanya.hebbar/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="image-section">
            <img src="{{ url_for('static',filename='images/Sahanya.png') }}">
        </div>
    </div>
</div>

{% endblock %}