<!DOCTYPE html> {% extends "base.html" %} {% block title %} Nosh | Create Event {% endblock %} {% block CSSlink %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Create_event.css') }}"> {% endblock %} {% block content %}


<div class="tb">
    <h1>Please fill in your details</h1>
    <form action="/Event_created" method="post">
        <table name="record">
            <tr>
                <td>Organizer Name:</td>
                <td><input type="text" name="Organizer_name" placeholder="" required></td>
            </tr>
            <tr>
                <td>Contact Number:</td>
                <td><input type="text" name="Phno" style="width:193px" required></td>
            </tr>
            <tr>
                <td>Event Name:</td>
                <td><select name="Event_name" style="width:193px">

                    <option>Marriage</option>
                    <option>Birthday Party</option>
                    <option>House warming</option>
                    <option>Thread Ceremony</option>
                    <option>Custom event</option>
                </select></td>

            </tr>



            <tr>
                <td>Specify:</td>
                <td><input type="text" name="Custom_event" style="width:193px"></td>
            </tr>
            <tr>
                <td>Event Date:</td>
                <div id="current_date">
                    <td><input type="date" name="Date" id="datefield" style="width:193px" required></td>
                </div>
            </tr>
            <tr>
                <td>Event Time:</td>
                <td><input type="time" name="Time" style="width:193px" required></td>
            </tr>
            <tr>
                <td>Venue:</td>
                <td><input type="text" name="Venue" style="width:193px" required></td>
            </tr>

        </table>

        <textarea name="message" rows="5" cols="37" placeholder="Message for the attendees"></textarea>
        <section class="some"><input type="submit" name="" value="Submit" style="height: 40px; width: 150px;"></section>
    </form>
</div>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0 so need to add 1 to make it 1!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("min", today);
</script>
{% endblock %}