<!DOCTYPE html>{% extends "base.html" %} {% block title %} Nosh | Dashboard {% endblock %} {% block CSSlink %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Enter_id.css') }}"> {% endblock %} {% block content %}


<div class="tb">

    {% if details %}
    <h1>Here are your Events</h1>
    <table>
        <tr>
            <td style="width:150px">Unique_ID</td>
            <td style="width:150px">Event Name</td>
            <td style="width:150px">Total Nosh#</td>
        </tr>
        {% for ID,eventName,total in details %}
        <tr>
            <td>{{ID}}</td>
            <td>{{eventName}}</td>
            <td>{{total}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>User not found (Try Again)</h1>
    {% endif %}
</div>
{% endblock %}