<!DOCTYPE html>{% extends "base.html" %} {% block title %} Nosh | ID {% endblock %} {% block CSSlink %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Enter_id.css') }}"> {% endblock %} {% block content %}

<div class="tb">

    <h1>Mark your Attendance</h1>
    <form method="post">
        <table>
            <tr>
                <td>Enter The Unique_ID</td>
                <td><input type="text" name="Event_ID" required style="width:193px"></td>
            </tr>
            <tr>
                <td>Click on submit to record your response</td>
                <td><input type="submit" name="" value="Submit" style="width:193px"></td>
            </tr>

        </table>
    </form>
    {% if data!= None %} {% for phno, event, oname, venue, date, time in data%}
    <table>
        <tr>
            <td>Event Name:</td>
            <td>{{event}}</td>
        </tr>
        <tr>
            <td>Organizer Name:</td>
            <td>{{oname}}</td>
        </tr>
        <tr>
            <td>Organizer Phone Number:</td>
            <td>{{phno}}</td>
        </tr>
        <tr>
            <td>Event Date:</td>
            <td>{{date}}</td>
        </tr>
        <tr>
            <td>Event Time:</td>
            <td>{{time}}</td>
        </tr>
        <tr>
            <td>Event Venue:</td>
            <td>{{venue}}</td>
        </tr>

    </table>
    {% endfor %} {% endif %}
</div>
{% endblock %}